{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

{% comment %} <form method="post" class="m-4">
    {% csrf_token %}
    {{form.as_div}}
    <button class="btn btn-primary m-4">Login</button>
    <a class="btn btn-primary " href="{% url "register" %}" role="button">Do not have an account ? </a>
</form>  {% endcomment %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5"> 
    <div class="row align-items-center g-lg-5 py-5"> 
        <div class="col-lg-7 text-center text-lg-start"> 
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Login to write and edit blogs</h1> 
            <p class="col-lg-10 fs-4">Welcome back! Login to explore insightful posts, connect with fellow readers, and stay updated with the latest trends. Your voice matters—join the conversation and make your mark on our growing community.</p> 
        </div> 
        <div class="col-md-10 mx-auto col-lg-5"> 
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary"> 
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="text-danger small mb-3">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {% comment %} {{ form.username.label_tag }} {% endcomment %}
                <div class="form-floating mb-3"> 
                    <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label}}" class="form-control"  required="" autofocus placeholder
                    =""  value="{{ form.username.value|default_if_none:'' }}"> 
                    <label for="{{ form.username.id_for_label }}">Username</label>

                    {% if form.username.errors or form.non_field_errors %}
                        <div class="text-danger small">{{ form.username.errors.0 }}</div>
                    {% endif %}
                </div> 
                {% comment %} {{ form.password.label_tag }} {% endcomment %}
                <div class="form-floating mb-3"> 
                    <input type="password" name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label}}" required="" placeholder="" value="{{ form.password.value|default_if_none:'' }}"> 
                    <label for="{{ form.password.id_for_label }}">Password</label>

                    {% if form.password.errors or form.non_field_errors %}
                        <div class="text-danger small">{{ form.password.errors.0 }}</div>
                    {% endif %}                    
                </div> 
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button> 
                <hr class="my-4"> 
                <a class="text-center" href="{% url "register" %}" role="button">Do not have an account ? </a>
                <br>
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small> 
            </form> 
        </div> 
    </div> 
</div>


{% endblock %}